.menu li > *:not(ul):not(.menu-title):not(details):active,
.menu li > *:not(ul):not(.menu-title):not(details).active,
.menu li > details > summary:active {
  background-color: transparent !important;
  color: orange !important;
}
.btn-common {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  /* background-image: linear-gradient(to right, #659dbd , orange) !important; */
  font-size: 16px;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
}

.btn-common:hover {
  /* background: #659dbd !important; */
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #659dbd, 0 0 25px #659dbd, 0 0 50px #659dbd,
    0 0 100px #659dbd;
}

.css-13cymwt-control {
  background-color: transparent !important;
  height: 48px;
}
.css-13cymwt-control:hover {
  border-color: hsl(0, 0%, 80%) !important;
}
